<div class="table-responsive mt-4">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h2>Manage <b>Articles</b></h2>
        </div>
        <div class="col-sm-4 d-flex align-items-sm-center justify-content-sm-end">
          <a href="articles/create" class="btn btn-success mr-1" data-toggle="modal"><span>Add Article</span></a>
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><span>Delete</span></a>						
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
            </span>
          </th>
          <th>Name</th>
          <th>Description</th>
          <th>Create</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each articles}}
          <tr>
            <td>
              <span class="custom-checkbox">
                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>{{ this.name }}</td>
            <td>{{ this.description }}</td>
            <td>{{ this.createdAt }}</td>
            <td>
              <a href="articles/update/{{ this._id }}"><span>Edit</span></a>
              <a 
                href=""
                type="button" 
                data-toggle="modal"
                data-id="{{ this._id }}"
                data-target="#exampleModal"
              >
                Delete
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete this article!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-article">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE hidden form --}}
<form name="delete-article-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let id
    const btnDeleteArticle = document.getElementById('btn-delete-article')
      const deleteArticleForm = document.forms['delete-article-form']
    $('#exampleModal').on('show.bs.modal', function (event) {    
      const button = $(event.relatedTarget)
      id = button.data('id')
      
      btnDeleteArticle.onclick = function () {
        deleteArticleForm.action = '/admin/articles/' + id + '?_method=DELETE'
        deleteArticleForm.submit()
      }
    })
  })
</script>